<span style="font-size: 36px;">W4111_Fall_2024_003 - Introduction to Databases:<br> Final Project Part 1<br>Data Loading<br>Game of Thrones Data and IMDB</span>

# Overview

## Application Scenario

There are many types of applications that use databases. Two of the most common types are:
1. __Interactive/Operational Applications__ allow end users to create, retrieve, update and delete information. Online banking, e-commerce, course registration, etc. are examples. The programming track students implement a simple, [full-stack](https://en.wikipedia.org/wiki/Solution_stack), interaction application.<br><br>
2. __Data Insight/Decision Support Applications__ are primarily for analysts and business professionals. The applications enable complex query and data navigation to provide information useful for managing and improving business processes, products, etc. Non-programming track students implement complex queries that provide datasets useful for visualization. Visualization is often the first step in a data insight project.

The following diagram depicts some major elements of the applications. 
- Both tracks implement a simple [data engineering](https://en.wikipedia.org/wiki/Data_engineering) project, specifically an [extract-transform-load](https://en.wikipedia.org/wiki/Extract,_transform,_load) application in a Jupyter notebook.
  - The input datatsets are information from [IMDB](https://developer.imdb.com/non-commercial-datasets/) and information about [Game of Thrones](https://github.com/jeffreylancaster/game-of-thrones).
  - The data engineering tasks process and load information into three databases:
      - A local installation of MySQL
      - A cloud document database on [MongoDB Atlas](https://www.mongodb.com/atlas)
      - A graph database on [Neo4j Aura](https://neo4j.com/product/auradb/)
- The non-programming track implements a very simply decision support/data insight application in a Jupyter notebook. The application queries the various databases to produce "views" that can be used for visualization.
- The programming track implements a web application that implements simple retrieve and data navigation.

| <img src="overall-system.jpg" width="800px;"> |
| :---: |
| __Overall Application Concept__ |

## Data Engineering

The following diagram is an overview of data engineering concepts, and entity-relationship modeling in general.

The data engineering tasks for the project are primarily _bottom-up data analysis and engineering._ There are two datasets that are the input to the data engineering:
1. IMDB data in comma separated value file.
2. Games-of-Thrones data in [JSON](https://en.wikipedia.org/wiki/JSON) files.

To simplify the project, the explanation of the HW problem:
1. Provide a Jupyter notebook for the initial data loading.
1. Defines the "to be" data model.
2. Explains how to map from the "as is" data to the "to be" data.

The providing the information in the project explanation eliminates the need for the students to figure would what the input data contains and a "good" to-be data model.

| <img src="./top_down_bottom_up.jpg" width="700px;"> |
| :---: |
| __Data Modeling__ |

| <img src="./data-janitor.jpg" width="700px;"> |
| :---: |
| __Data Engineering__ |

## Data Insight Application

A separate document will explain the data analysis and insight tasks. The current project and purpose of this notebook is to ensure that students have a working environment.

## Interactive Web Application

A separate document will explain the web application tasks. The current project and purpose of this notebook is to ensure that students have a working environment.

## This Notebook

This notebook simply enables students to get started with the environment, test their setup, etc.

## Prerequisites

To complete this notebook, the students must have setup and configured a MongoDB Atlas and Neo4j Aura environment. The recorded recitation of 2024-NOV-17 explains how to do the setup. There are also online instructions.

# Initialization

__Notes:__
1. Several of the cells below have a commented out ```%pip install``` statement. You may need to uncomment and execute the statement to install packages. You only need to run the statement the first time you use the notebook.
2. There are cells where you will have to replace URLs, user IDs and passwords with the values you set when creating databases or accounts.
3. The output of the test statements will be different for you based on previous use of the databases.

## General Python Packages

In [1]:
import copy

In [2]:
import json

In [3]:
import pandas

In [4]:
# You should have installed the packages for previous homework assignments
#
import pymysql
import sqlalchemy

In [5]:
# You may have to do %pip installs to use the packages below.
#
# %pip install "pymongo[srv]"
#
import pymongo

In [6]:
# You may have to do %pip installs to use the packages below.
#
# %pip install neo4j
#
import neo4j

In [7]:
import numpy

## MySQL

### ipython-sql

In [8]:
# You have installed and configured ipython-sql for previous assignments.
# https://pypi.org/project/ipython-sql/
#
%load_ext sql

In [9]:
# Make sure that you set these values to the correct values for your installation and 
# configuration of MySQL
#
db_user = "root"
db_password = "dbuserdbuser"

In [10]:
# Create the URL for connecting to the database.
# Do not worry about the local_infile=1, I did that for wizard reasons that you should not have to use.
#
db_url = f"mysql+pymysql://{db_user}:{db_password}@localhost?local_infile=1"

In [11]:
# Initialize ipython-sql
#
%sql $db_url

In [12]:
# Your answer will be different based on the databases that you have created on your local MySQL instance.
#
%sql show databases

 * mysql+pymysql://root:***@localhost?local_infile=1
8 rows affected.

[('classicmodels',),
 ('db_book',),
 ('hw1b_ng2695',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('w4111_hw2_ng2695',)]

### PyMySQL

In [13]:
default_mysql_conn = pymysql.connect(
    user=db_user,
    password=db_password,
    host="localhost",
    port=3306,
    cursorclass=pymysql.cursors.DictCursor,
    autocommit=True
)

In [14]:
cur = default_mysql_conn.cursor()

result = cur.execute("show databases;");
result = cur.fetchall()
result_df = pandas.DataFrame(result)
result_df

             Database
0       classicmodels
1             db_book
2         hw1b_ng2695
3  information_schema
4               mysql
5  performance_schema
6                 sys
7    w4111_hw2_ng2695

### SQLAlchemy

In [15]:
from sqlalchemy import create_engine
default_engine = create_engine(db_url)

In [16]:
result_df = pandas.read_sql(
    "show databases", con=default_engine
)
result_df

             Database
0       classicmodels
1             db_book
2         hw1b_ng2695
3  information_schema
4               mysql
5  performance_schema
6                 sys
7    w4111_hw2_ng2695

## MongoDB Atlas

In [17]:
# You will need to replace with your settings.
#
mongo_db_pw="3ZOGE7vkjPRB2io0"
mongodb_user="ng2695"

In [18]:
# You can get the URL and info below from looking at the connect instructions for you MongoDB Atlas instance.
#
mongo_db_url = f"mongodb+srv://{mongodb_user}:{mongo_db_pw}@w4111hw.aajrd.mongodb.net/?retryWrites=true&w=majority&appName=W4111HW"

In [19]:
mongo_client = pymongo.MongoClient(mongo_db_url)

In [20]:
# Your list of databases will be different.
#
list(mongo_client.list_databases())

[{'name': 'f24_got', 'sizeOnDisk': 475136, 'empty': False},
 {'name': 'sample_mflix', 'sizeOnDisk': 128372736, 'empty': False},
 {'name': 'admin', 'sizeOnDisk': 393216, 'empty': False},
 {'name': 'local', 'sizeOnDisk': 8016089088, 'empty': False}]

## Neo4j

In [21]:
# You need to have created a Neo4j Aura DB with a user ID and information.
# Please make sure you copied the information for connecting.
# You can download this information when you create your instance.
# The download will be a text file with the information below.
# You will have to modify the file you download to wrap the strings with "
#
NEO4J_URI="neo4j+ssc://152bd215.databases.neo4j.io"
NEO4J_USERNAME="neo4j"
NEO4J_PASSWORD="Q1DShtnmlomcYoqFIT1_rv3XL4t-4ooCmWvKZUzWelc"
AURA_INSTANCEID="152bd215"
AURA_INSTANCENAME="Instance01"

In [22]:
from neo4j import GraphDatabase

# URI examples: "neo4j://localhost", "neo4j+s://xxx.databases.neo4j.io"
URI = NEO4J_URI
AUTH = (NEO4J_USERNAME, NEO4J_PASSWORD)

with GraphDatabase.driver(URI, auth=AUTH) as driver:
    driver.verify_connectivity()

__Note:__ You should have already created a Neo4j account and loaded the Movie Database.

In [23]:
# The following code assumes that you followed the tutorial for the Movie Database and loaded the data.
#
with GraphDatabase.driver(URI, auth=AUTH) as driver:
    # driver.verify_connectivity()
    
    records, summary, keys = driver.execute_query(
        "MATCH (p:Person) where p.name='Tom Hanks' RETURN p.name AS name, p.born as birth_year ",
    )
    
    # Loop through results and do something with them
    # There is probably an easier way to do this.
    #
    person_records = []
    for person in records:
        new_p = dict(person)
        person_records.append(new_p)
    
    # Summary information
    print("The query `{query}` returned {records_count} records in {time} ms.".format(
        query=summary.query, records_count=len(records),
        time=summary.result_available_after,
    ))

The query `MATCH (p:Person) where p.name='Tom Hanks' RETURN p.name AS name, p.born as birth_year ` returned 1 records in 61 ms.

In [24]:
results_df = pandas.DataFrame(person_records)
results_df.head(10)

        name  birth_year
0  Tom Hanks        1956

# Load Data

## Overview

The first step is to load two datasets. The project directory has two subdirectories containing the datasets:
1. ```/data/IMDB``` contains a subset of the non-commercial [IMDB dataset data](https://developer.imdb.com/non-commercial-datasets/). The dataset to loading contains only:
      1. A subset of the data files.
      2. The data files only contain records from the IMDB data files related to Game of Thrones and the actors in the series.
2. ```data/GoT``` contains of copy of a [Game of Thrones dataset](https://github.com/jeffreylancaster/game-of-thrones). The project does not require loading all of the files in the directory.

You must set the ```data_dir``` variable in the cell below to the location where you cloned or unzipped the project.

The initial data loading loads the IMDB data into MySQL and the GoT data into MongoDB. We load data into Neo4j in later steps.

In [40]:
# In this cell, please enter the file systems path to the location where you cloned 
# or unzipped the project. Replace my value with the path for your system.
#
data_dir = r"C:\Users\natha\W4111-Project-Template"

In [45]:
imdb_data_dir = data_dir + r"\data\IMDB"

In [46]:
# This magic will list the files in the IMDB data directories.
#
%ls $imdb_data_dir

 Volume in drive C is OS
 Volume Serial Number is 940C-3CFD

 Directory of C:\Users\natha\W4111-Project-Template\data\IMDB

12/06/2024  05:26 PM    <DIR>          .
12/06/2024  05:26 PM    <DIR>          ..
12/06/2024  05:26 PM            31,805 got_imdb_name_basics.csv
12/06/2024  05:26 PM         2,406,441 got_imdb_title_basics.csv
12/06/2024  05:26 PM         1,688,109 got_imdb_title_principals.csv
12/06/2024  05:26 PM           338,284 got_imdb_title_ratings.csv
               4 File(s)      4,464,639 bytes
               2 Dir(s)  803,351,941,120 bytes free

In [47]:
got_data_dir = data_dir + r"\data\GoT"

In [48]:
# This magic will list the files in the IMDB data directories.
#
%ls $got_data_dir

 Volume in drive C is OS
 Volume Serial Number is 940C-3CFD

 Directory of C:\Users\natha\W4111-Project-Template\data\GoT

12/06/2024  05:26 PM    <DIR>          .
12/06/2024  05:26 PM    <DIR>          ..
12/06/2024  05:26 PM            45,580 character_relationship_scenes.json
12/06/2024  05:26 PM           212,804 characters.json
12/06/2024  05:26 PM             3,204 characters-gender.json
12/06/2024  05:26 PM            11,052 characters-gender-all.json
12/06/2024  05:26 PM             4,009 characters-groups.json
12/06/2024  05:26 PM            24,341 characters-include.json
12/06/2024  05:26 PM             3,223 colors.json
12/06/2024  05:26 PM         1,415,481 costars.json
12/06/2024  05:26 PM         1,903,641 episodes.json
12/06/2024  05:26 PM            89,943 heatmap.json
12/06/2024  05:26 PM           454,201 keyValues.json
12/06/2024  05:26 PM           284,643 lands-of-ice-and-fire.json
12/06/2024  05:26 PM             4,291 locations.json
12/06/2024  05:26 PM             1,577 opening-locations.json
12/06/2024  05:26 PM         2,778,755 script-bag-of-words.json
12/06/2024  05:26 PM         1,179,864 wordcount.json
12/06/2024  05:26 PM            17,559 wordcount-gender.json
12/06/2024  05:26 PM            15,454 wordcount-synonyms.json
              18 File(s)      8,449,622 bytes
               2 Dir(s)  803,351,937,024 bytes free

## Load Atlas MongoDB

### Some Helper Code

This section provide some code that helps with the data loading.

In [49]:
def load_json_file(file_path):
    """
    Load the JSON information in the parameter into python objects and return the result.
    """

    with open(file_path, "r") as in_file:
        result = json.load(in_file)

    return result

In [50]:
# This is a set of files to load and save to MongoDB Atlas for the project.
#
# Set this to the location where you have the data files in your installation
#
data_path = got_data_dir + "/"

def load_and_save_file(file_path,
                       mongodb_con, database_name,
                       collection_name, 
                       top_level_element=None, 
                       is_list=True,
                       drop_collection=True):

    j_data = load_json_file(file_path)

    if top_level_element:
        j_data = j_data[top_level_element]

    if not is_list:
        j_data = [j_data]

    if drop_collection:
        mongodb_con[database_name][collection_name].drop()

    mongodb_con[database_name][collection_name].insert_many(j_data)


def load_and_save_all_files(data_file_info, mongodb_con):

    for f in data_file_info:
        load_and_save_file(
            file_path=data_path + f['file_name'],
            mongodb_con=mongodb_con,
            database_name=f['database'],
            collection_name=f['collection'],
            top_level_element=f['top_level_element'],
            is_list=f["is_list"]
        )

### Load the Data Files into MongoDB

In [51]:
# The files to load for the project. The format of each entry in the array is:
# - file_name is the name of the file.
# - top_level_element is the JSON element name that wraps the data.
# - database is the name to use for your MongoDB database.
# - collection is the name of the document collection in the database.
# - is_list specificies the input format in the file.
#
data_file_load_info = [
    {
        "file_name": "characters-groups.json",
        "top_level_element": "groups",
        "database": "f24_project_got",
        "collection": "characters_groups",
        "is_list": True
    },
    {
        "file_name": "characters.json",
        "top_level_element": "characters",
        "database": "f24_project_got",
        "collection": "characters",
        "is_list": True
    },
    {
        "file_name": "episodes.json",
        "top_level_element": "episodes",
        "database": "f24_project_got",
        "collection": "episodes",
        "is_list": True
    },
    {
        "file_name": "locations.json",
        "top_level_element": "regions",
        "database": "f24_project_got",
        "collection": "locations",
        "is_list": True
    }    
]

__Note:__ If you have previously created the database, you should drop it.

In [52]:
# Specify the database
db = mongo_client["f24_got"]

# Drop collections
db["characters_groups"].drop()
db["characters"].drop()
db["episodes"].drop()
db["locations"].drop()

In [53]:
# This loads and saves all of the files.
#
load_and_save_all_files(data_file_load_info, mongo_client)

### Test the Loading

#### Characters

In [54]:
# Test if we loaded properly
# 
characters = mongo_client["f24_project_got"]["characters"].find(
    {},
    { 
        "_id": 0, 
        "characterName": 1,
        "actorName": 1,
        "actorLink": 1,
        "houseName": 1,
        "royal": 1,
        "kingsguard": 1,
        "nickname": 1
    }
)
characters_df = pandas.DataFrame(list(characters))

In [55]:
# Convert "Not a number" to None
#
characters_df = characters_df.replace({numpy.nan: None})

In [56]:
characters_df.tail(10)

,characterName,actorName,actorLink,houseName,royal,nickname,kingsguard
379,Yohn Royce,Rupert Vansittart,/name/nm0889338/,None,None,None,None
380,Yoren,Francis Magee,/name/nm0535837/,None,None,None,None
381,Young Benjen Stark,Matteo Elezi,/name/nm5502295/,Stark,None,None,None
382,Young Cersei Lannister,Nell Williams,/name/nm5309709/,Lannister,None,None,None
383,Young Lyanna Stark,Cordelia Hill,/name/nm8108764/,Stark,None,None,None
384,Young Nan,Annette Tierney,/name/nm1519719/,None,None,None,None
385,Young Ned,Robert Aramayo,/name/nm7075019/,Stark,None,None,None
386,Young Ned Stark,Sebastian Croft,/name/nm7509185/,Stark,None,None,None
387,Young Rodrik Cassel,Fergus Leathem,/name/nm7509186/,None,None,None,None
388,Zanrush,Gerald Lepkowski,/name/nm0503319/,None,None,None,None

#### Episodes

In [57]:
# Test if we loaded properly
# 
episodes = mongo_client["f24_project_got"]["episodes"].find(
    {},
    { 
        "_id": 0
    }
)
episodes_df = pandas.DataFrame(list(episodes))

In [58]:
episodes_df.tail(10)

,seasonNum,episodeNum,episodeTitle,episodeLink,episodeAirDate,episodeDescription,openingSequenceLocations,scenes
63,7,4,The Spoils of War,/title/tt5775846/,2017-08-06,Daenerys takes matters into her own hands. Ary...,"[King's Landing, Dragonstone, Pyke, Winterfell...","[{'sceneStart': '0:03:55', 'sceneEnd': '0:04:1..."
64,7,5,Eastwatch,/title/tt5775854/,2017-08-13,Daenerys demands loyalty from the surviving La...,"[King's Landing, Dragonstone, Winterfell, The ...","[{'sceneStart': '0:03:55', 'sceneEnd': '0:05:4..."
65,7,6,Beyond the Wall,/title/tt5775864/,2017-08-20,Jon and his team go beyond the wall to capture...,"[King's Landing, Dragonstone, Winterfell, The ...","[{'sceneStart': '0:04:03', 'sceneEnd': '0:04:1..."
66,7,7,The Dragon and the Wolf,/title/tt5775874/,2017-08-27,Season finale of the epic series.,"[King's Landing, Dragonstone, Winterfell, The ...","[{'sceneStart': '0:04:36', 'sceneEnd': '0:04:5..."
67,8,1,Winterfell,/title/tt5924366/,2019-04-14,Jon and Daenerys arrive in Winterfell and are ...,"[Last Hearth, Winterfell, King's Landing]","[{'sceneStart': '0:04:39', 'sceneEnd': '0:04:5..."
68,8,2,A Knight of the Seven Kingdoms,/title/tt6027908/,2019-04-21,The battle at Winterfell is approaching. Jaime...,"[Last Hearth, Winterfell, King's Landing]","[{'sceneStart': '0:03:39', 'sceneEnd': '0:07:4..."
69,8,3,The Long Night,/title/tt6027912/,2019-04-28,The Night King and his army have arrived at Wi...,"[Last Hearth, Winterfell, King's Landing]","[{'sceneStart': '0:03:37', 'sceneEnd': '0:04:1..."
70,8,4,The Last of the Starks,/title/tt6027914/,2019-05-05,"In the wake of a costly victory, Jon and Daene...","[Last Hearth, Winterfell, King's Landing]","[{'sceneStart': '0:04:11', 'sceneEnd': '0:05:0..."
71,8,5,The Bells,/title/tt6027916/,2019-05-12,Daenerys and Cersei weigh their options as an ...,"[Last Hearth, Winterfell, King's Landing]","[{'sceneStart': '0:04:45', 'sceneEnd': '0:05:1..."
72,8,6,The Iron Throne,/title/tt6027920/,2019-05-19,In the aftermath of the devastating attack on ...,"[Last Hearth, Winterfell, King's Landing]","[{'sceneStart': '0:05:08', 'sceneEnd': '0:06:0..."

#### Locations

In [59]:
# Test if we loaded properly
# 
locations = mongo_client["f24_project_got"]["locations"].find(
    {},
    { 
        "_id": 0
    }
)
locations_df = pandas.DataFrame(list(locations))

In [60]:
episodes_df.tail(10)

,seasonNum,episodeNum,episodeTitle,episodeLink,episodeAirDate,episodeDescription,openingSequenceLocations,scenes
63,7,4,The Spoils of War,/title/tt5775846/,2017-08-06,Daenerys takes matters into her own hands. Ary...,"[King's Landing, Dragonstone, Pyke, Winterfell...","[{'sceneStart': '0:03:55', 'sceneEnd': '0:04:1..."
64,7,5,Eastwatch,/title/tt5775854/,2017-08-13,Daenerys demands loyalty from the surviving La...,"[King's Landing, Dragonstone, Winterfell, The ...","[{'sceneStart': '0:03:55', 'sceneEnd': '0:05:4..."
65,7,6,Beyond the Wall,/title/tt5775864/,2017-08-20,Jon and his team go beyond the wall to capture...,"[King's Landing, Dragonstone, Winterfell, The ...","[{'sceneStart': '0:04:03', 'sceneEnd': '0:04:1..."
66,7,7,The Dragon and the Wolf,/title/tt5775874/,2017-08-27,Season finale of the epic series.,"[King's Landing, Dragonstone, Winterfell, The ...","[{'sceneStart': '0:04:36', 'sceneEnd': '0:04:5..."
67,8,1,Winterfell,/title/tt5924366/,2019-04-14,Jon and Daenerys arrive in Winterfell and are ...,"[Last Hearth, Winterfell, King's Landing]","[{'sceneStart': '0:04:39', 'sceneEnd': '0:04:5..."
68,8,2,A Knight of the Seven Kingdoms,/title/tt6027908/,2019-04-21,The battle at Winterfell is approaching. Jaime...,"[Last Hearth, Winterfell, King's Landing]","[{'sceneStart': '0:03:39', 'sceneEnd': '0:07:4..."
69,8,3,The Long Night,/title/tt6027912/,2019-04-28,The Night King and his army have arrived at Wi...,"[Last Hearth, Winterfell, King's Landing]","[{'sceneStart': '0:03:37', 'sceneEnd': '0:04:1..."
70,8,4,The Last of the Starks,/title/tt6027914/,2019-05-05,"In the wake of a costly victory, Jon and Daene...","[Last Hearth, Winterfell, King's Landing]","[{'sceneStart': '0:04:11', 'sceneEnd': '0:05:0..."
71,8,5,The Bells,/title/tt6027916/,2019-05-12,Daenerys and Cersei weigh their options as an ...,"[Last Hearth, Winterfell, King's Landing]","[{'sceneStart': '0:04:45', 'sceneEnd': '0:05:1..."
72,8,6,The Iron Throne,/title/tt6027920/,2019-05-19,In the aftermath of the devastating attack on ...,"[Last Hearth, Winterfell, King's Landing]","[{'sceneStart': '0:05:08', 'sceneEnd': '0:06:0..."

## Neo4j Aura

All we are going to do for now is load basic characters and actor information into Aura and create some relationships.

Specifically, the code in this section:
- Creates a node for each character.
- Creates a node for each actor.
- Creates a relationship between the character node and actor node.

  
The first step is to get the ```characterName, actorName,``` and ```nconst``` out of the ```actorLink``` in the ```characters``` documents. We can use  a pipeline to extract the ```nconst```.

In [102]:
# Aggregation pipeline to extract the actorName, characterName and IMDB link for the character.
# We use a pipline because we use a pipeline operator to simplify extract the IMDB nconst from a URL.
pipeline = [
    {
        "$project": {
            "_id": 0,
            "characterName": 1,
            "actorName": 1,
            "nconst": {
                "$arrayElemAt": [
                    {"$split": ["$actorLink", "/"]}, 
                    2
                ]
            }
        }
    }
]

# Execute the aggregation pipeline
all_characters = mongo_client.f24_project_got.characters.aggregate(pipeline)
all_characters = list(all_characters)

In [103]:
# Do a simple test to see if we got data.
#
all_characters[0:3]

[{'characterName': 'Addam Marbrand',
  'actorName': 'B.J. Hogg',
  'nconst': 'nm0389698'},
 {'characterName': 'Aegon Targaryen', 'nconst': None},
 {'characterName': 'Aeron Greyjoy',
  'actorName': 'Michael Feast',
  'nconst': 'nm0269923'}]

In [104]:
# We have the same character name several times, which will cause weird phantom matches.
# So, each character gets a unique ID.
#
i = 1
for c in all_characters:
    c['character_id'] = "ch_" + str(i)
    i = i + 1

In [105]:
all_characters[0:3]

[{'characterName': 'Addam Marbrand',
  'actorName': 'B.J. Hogg',
  'nconst': 'nm0389698',
  'character_id': 'ch_1'},
 {'characterName': 'Aegon Targaryen', 'nconst': None, 'character_id': 'ch_2'},
 {'characterName': 'Aeron Greyjoy',
  'actorName': 'Michael Feast',
  'nconst': 'nm0269923',
  'character_id': 'ch_3'}]

In [106]:
# Preprocess the information into lists to make the Neo4j code simpler.
# This is not really necessary but it made the process easier to test and debug for me.
#
actors_to_insert = []
relationships_to_insert = []
characters_to_insert = []

In [107]:
for a in all_characters:
    
    # Extract the values from the key 'a' and set to None if there is no value for the key.
    n = a.get('actorName', None)
    l = a.get('nconst', None)
    c = a.get('characterName', None)
    cid = a.get('character_id', None)

    # Get the information for the actor.
    #
    if n is not None:
        actors_to_insert.append({'actorName': n, 'nconst': l})

    
    characters_to_insert.append({'character_id': cid, 'characterName': c })

    # Sometimes there may not ne a character to actor relationship link.
    if l:
        relationships_to_insert.append({'character_id': cid, 'nconst': l})

__Note:__ You must manually delete information from a previous load.

In [108]:
relationships_to_insert

[{'character_id': 'ch_1', 'nconst': 'nm0389698'},
 {'character_id': 'ch_3', 'nconst': 'nm0269923'},
 {'character_id': 'ch_4', 'nconst': 'nm0727778'},
 {'character_id': 'ch_5', 'nconst': 'nm6729880'},
 {'character_id': 'ch_6', 'nconst': 'nm0853583'},
 {'character_id': 'ch_7', 'nconst': 'nm0203801'},
 {'character_id': 'ch_8', 'nconst': 'nm8257864'},
 {'character_id': 'ch_9', 'nconst': 'nm0571654'},
 {'character_id': 'ch_10', 'nconst': 'nm1528121'},
 {'character_id': 'ch_11', 'nconst': 'nm0000980'},
 {'character_id': 'ch_12', 'nconst': 'nm0649046'},
 {'character_id': 'ch_13', 'nconst': 'nm1783582'},
 {'character_id': 'ch_14', 'nconst': 'nm8127149'},
 {'character_id': 'ch_15', 'nconst': 'nm1074361'},
 {'character_id': 'ch_16', 'nconst': 'nm3586035'},
 {'character_id': 'ch_18', 'nconst': 'nm0538869'},
 {'character_id': 'ch_19', 'nconst': 'nm4207240'},
 {'character_id': 'ch_20', 'nconst': 'nm0568400'},
 {'character_id': 'ch_21', 'nconst': 'nm1152798'},
 {'character_id': 'ch_23', 'nconst': 'nm4730958'},
 {'character_id': 'ch_24', 'nconst': 'nm0429956'},
 {'character_id': 'ch_25', 'nconst': 'nm1978998'},
 {'character_id': 'ch_26', 'nconst': 'nm1043031'},
 {'character_id': 'ch_27', 'nconst': 'nm5279916'},
 {'character_id': 'ch_28', 'nconst': 'nm1638006'},
 {'character_id': 'ch_30', 'nconst': 'nm3652842'},
 {'character_id': 'ch_31', 'nconst': 'nm5106314'},
 {'character_id': 'ch_32', 'nconst': 'nm3729225'},
 {'character_id': 'ch_33', 'nconst': 'nm0283492'},
 {'character_id': 'ch_34', 'nconst': 'nm0574534'},
 {'character_id': 'ch_35', 'nconst': 'nm0751085'},
 {'character_id': 'ch_36', 'nconst': 'nm1214477'},
 {'character_id': 'ch_37', 'nconst': 'nm0265610'},
 {'character_id': 'ch_38', 'nconst': 'nm0734498'},
 {'character_id': 'ch_39', 'nconst': 'nm0372176'},
 {'character_id': 'ch_40', 'nconst': 'nm2456829'},
 {'character_id': 'ch_41', 'nconst': 'nm0404809'},
 {'character_id': 'ch_42', 'nconst': 'nm4007028'},
 {'character_id': 'ch_43', 'nconst': 'nm0700059'},
 {'character_id': 'ch_45', 'nconst': 'nm3592338'},
 {'character_id': 'ch_46', 'nconst': 'nm0408591'},
 {'character_id': 'ch_47', 'nconst': 'nm3996678'},
 {'character_id': 'ch_48', 'nconst': 'nm0192377'},
 {'character_id': 'ch_50', 'nconst': 'nm1613839'},
 {'character_id': 'ch_51', 'nconst': 'nm1368037'},
 {'character_id': 'ch_52', 'nconst': 'nm0915453'},
 {'character_id': 'ch_53', 'nconst': 'nm0796502'},
 {'character_id': 'ch_54', 'nconst': 'nm1861467'},
 {'character_id': 'ch_55', 'nconst': 'nm6088160'},
 {'character_id': 'ch_56', 'nconst': 'nm2999602'},
 {'character_id': 'ch_57', 'nconst': 'nm2231505'},
 {'character_id': 'ch_59', 'nconst': 'nm0752638'},
 {'character_id': 'ch_60', 'nconst': 'nm0000293'},
 {'character_id': 'ch_61', 'nconst': 'nm0174005'},
 {'character_id': 'ch_62', 'nconst': 'nm0580014'},
 {'character_id': 'ch_63', 'nconst': 'nm0890055'},
 {'character_id': 'ch_65', 'nconst': 'nm4473207'},
 {'character_id': 'ch_66', 'nconst': 'nm1561982'},
 {'character_id': 'ch_67', 'nconst': 'nm2406775'},
 {'character_id': 'ch_68', 'nconst': 'nm0050520'},
 {'character_id': 'ch_69', 'nconst': 'nm0443825'},
 {'character_id': 'ch_70', 'nconst': 'nm2307468'},
 {'character_id': 'ch_71', 'nconst': 'nm1478079'},
 {'character_id': 'ch_72', 'nconst': 'nm6793798'},
 {'character_id': 'ch_74', 'nconst': 'nm2356940'},
 {'character_id': 'ch_75', 'nconst': 'nm3354768'},
 {'character_id': 'ch_76', 'nconst': 'nm0130538'},
 {'character_id': 'ch_77', 'nconst': 'nm2089809'},
 {'character_id': 'ch_78', 'nconst': 'nm4440118'},
 {'character_id': 'ch_79', 'nconst': 'nm0002103'},
 {'character_id': 'ch_82', 'nconst': 'nm0798872'},
 {'character_id': 'ch_83', 'nconst': 'nm7318132'},
 {'character_id': 'ch_84', 'nconst': 'nm3005802'},
 {'character_id': 'ch_85', 'nconst': 'nm7318134'},
 {'character_id': 'ch_86', 'nconst': 'nm7318135'},
 {'character_id': 'ch_87', 'nconst': 'nm0544139'},
 {'character_id': 'ch_89', 'nconst': 'nm0057965'},
 {'character_id': 'ch_90', 'nconst': 'nm4440305'},
 {'character_id': 'ch_92', 'nconst': 'nm2760664'},
 {'character_id': 'ch_93', 'nconst': 'nm0234541'},
 {'character_id': 'ch_94', 'nconst': 'nm6301068'},
 {'character_id': 'ch_95', 'nconst': 'nm2407387'},
 {'character_id': 'ch_96', 'nconst': 'nm1051151'},
 {'character_id': 'ch_97', 'nconst': 'nm4704928'},
 {'character_id': 'ch_98', 'nconst': 'nm0267256'},
 {'character_id': 'ch_99', 'nconst': 'nm0894857'},
 {'character_id': 'ch_100', 'nconst': 'nm0072855'},
 {'character_id': 'ch_101', 'nconst': 'nm0000596'},
 {'character_id': 'ch_102', 'nconst': 'nm2181128'},
 {'character_id': 'ch_103', 'nconst': 'nm3964231'},
 {'character_id': 'ch_104', 'nconst': 'nm0628040'},
 {'character_id': 'ch_105', 'nconst': 'nm3444954'},
 {'character_id': 'ch_106', 'nconst': 'nm4547262'},
 {'character_id': 'ch_107', 'nconst': 'nm2131630'},
 {'character_id': 'ch_108', 'nconst': 'nm0019885'},
 {'character_id': 'ch_109', 'nconst': 'nm3330122'},
 {'character_id': 'ch_110', 'nconst': 'nm3822505'},
 {'character_id': 'ch_111', 'nconst': 'nm0001290'},
 {'character_id': 'ch_112', 'nconst': 'nm4781280'},
 {'character_id': 'ch_114', 'nconst': 'nm0182666'},
 {'character_id': 'ch_115', 'nconst': 'nm0141582'},
 {'character_id': 'ch_116', 'nconst': 'nm0937239'},
 {'character_id': 'ch_117', 'nconst': 'nm0641433'},
 {'character_id': 'ch_118', 'nconst': 'nm4475335'},
 {'character_id': 'ch_119', 'nconst': 'nm0181920'},
 {'character_id': 'ch_120', 'nconst': 'nm4424689'},
 {'character_id': 'ch_121', 'nconst': 'nm0322416'},
 {'character_id': 'ch_122', 'nconst': 'nm1032473'},
 {'character_id': 'ch_123', 'nconst': 'nm0822062'},
 {'character_id': 'ch_124', 'nconst': 'nm3229685'},
 {'character_id': 'ch_125', 'nconst': 'nm0639569'},
 {'character_id': 'ch_126', 'nconst': 'nm0322513'},
 {'character_id': 'ch_127', 'nconst': 'nm0803397'},
 {'character_id': 'ch_128', 'nconst': 'nm4958677'},
 {'character_id': 'ch_129', 'nconst': 'nm1218607'},
 {'character_id': 'ch_130', 'nconst': 'nm2171898'},
 {'character_id': 'ch_131', 'nconst': 'nm4768858'},
 {'character_id': 'ch_132', 'nconst': 'nm2461009'},
 {'character_id': 'ch_133', 'nconst': 'nm0312245'},
 {'character_id': 'ch_134', 'nconst': 'nm0597388'},
 {'character_id': 'ch_135', 'nconst': 'nm0622533'},
 {'character_id': 'ch_136', 'nconst': 'nm3040811'},
 {'character_id': 'ch_137', 'nconst': 'nm0341739'},
 {'character_id': 'ch_138', 'nconst': 'nm2482781'},
 {'character_id': 'ch_139', 'nconst': 'nm3338062'},
 {'character_id': 'ch_140', 'nconst': 'nm3453345'},
 {'character_id': 'ch_141', 'nconst': 'nm1168404'},
 {'character_id': 'ch_142', 'nconst': 'nm0432837'},
 {'character_id': 'ch_143', 'nconst': 'nm5037688'},
 {'character_id': 'ch_144', 'nconst': 'nm0119804'},
 {'character_id': 'ch_145', 'nconst': 'nm8314450'},
 {'character_id': 'ch_146', 'nconst': 'nm3122423'},
 {'character_id': 'ch_147', 'nconst': 'nm0734304'},
 {'character_id': 'ch_148', 'nconst': 'nm0170799'},
 {'character_id': 'ch_149', 'nconst': 'nm0383835'},
 {'character_id': 'ch_150', 'nconst': 'nm4450657'},
 {'character_id': 'ch_152', 'nconst': 'nm0204583'},
 {'character_id': 'ch_153', 'nconst': 'nm1638294'},
 {'character_id': 'ch_154', 'nconst': 'nm0174449'},
 {'character_id': 'ch_155', 'nconst': 'nm0481924'},
 {'character_id': 'ch_156', 'nconst': 'nm1406364'},
 {'character_id': 'ch_157', 'nconst': 'nm4492930'},
 {'character_id': 'ch_158', 'nconst': 'nm3292422'},
 {'character_id': 'ch_159', 'nconst': 'nm5908524'},
 {'character_id': 'ch_161', 'nconst': 'nm1778512'},
 {'character_id': 'ch_162', 'nconst': 'nm0564516'},
 {'character_id': 'ch_163', 'nconst': 'nm3330066'},
 {'character_id': 'ch_164', 'nconst': 'nm6537691'},
 {'character_id': 'ch_165', 'nconst': 'nm4475204'},
 {'character_id': 'ch_166', 'nconst': 'nm8127150'},
 {'character_id': 'ch_167', 'nconst': 'nm8127151'},
 {'character_id': 'ch_168', 'nconst': 'nm8133415'},
 {'character_id': 'ch_169', 'nconst': 'nm8127152'},
 {'character_id': 'ch_170', 'nconst': 'nm6462692'},
 {'character_id': 'ch_171', 'nconst': 'nm1707712'},
 {'character_id': 'ch_172', 'nconst': 'nm0852965'},
 {'character_id': 'ch_173', 'nconst': 'nm5502252'},
 {'character_id': 'ch_174', 'nconst': 'nm2869309'},
 {'character_id': 'ch_175', 'nconst': 'nm3645691'},
 {'character_id': 'ch_176', 'nconst': 'nm5651524'},
 {'character_id': 'ch_177', 'nconst': 'nm1101680'},
 {'character_id': 'ch_178', 'nconst': 'nm0384152'},
 {'character_id': 'ch_179', 'nconst': 'nm0641596'},
 {'character_id': 'ch_181', 'nconst': 'nm3524836'},
 {'character_id': 'ch_182', 'nconst': 'nm6342915'},
 {'character_id': 'ch_183', 'nconst': 'nm8165602'},
 {'character_id': 'ch_184', 'nconst': 'nm4957233'},
 {'character_id': 'ch_185', 'nconst': 'nm0225483'},
 {'character_id': 'ch_186', 'nconst': 'nm0004355'},
 {'character_id': 'ch_187', 'nconst': 'nm0891092'},
 {'character_id': 'ch_188', 'nconst': 'nm0203882'},
 {'character_id': 'ch_189', 'nconst': 'nm0838910'},
 {'character_id': 'ch_190', 'nconst': 'nm1483416'},
 {'character_id': 'ch_191', 'nconst': 'nm2807170'},
 {'character_id': 'ch_192', 'nconst': 'nm0562003'},
 {'character_id': 'ch_193', 'nconst': 'nm2162079'},
 {'character_id': 'ch_194', 'nconst': 'nm4982614'},
 {'character_id': 'ch_195', 'nconst': 'nm0015382'},
 {'character_id': 'ch_196', 'nconst': 'nm0001354'},
 {'character_id': 'ch_197', 'nconst': 'nm0243696'},
 {'character_id': 'ch_198', 'nconst': 'nm6442298'},
 {'character_id': 'ch_199', 'nconst': 'nm4982706'},
 {'character_id': 'ch_200', 'nconst': 'nm1754059'},
 {'character_id': 'ch_201', 'nconst': 'nm2983094'},
 {'character_id': 'ch_202', 'nconst': 'nm2047170'},
 {'character_id': 'ch_203', 'nconst': 'nm2835616'},
 {'character_id': 'ch_204', 'nconst': 'nm3126053'},
 {'character_id': 'ch_205', 'nconst': 'nm4523680'},
 {'character_id': 'ch_206', 'nconst': 'nm1697771'},
 {'character_id': 'ch_207', 'nconst': 'nm2911170'},
 {'character_id': 'ch_208', 'nconst': 'nm0819087'},
 {'character_id': 'ch_209', 'nconst': 'nm0396924'},
 {'character_id': 'ch_210', 'nconst': 'nm0997747'},
 {'character_id': 'ch_211', 'nconst': 'nm2075330'},
 {'character_id': 'ch_212', 'nconst': 'nm0064155'},
 {'character_id': 'ch_213', 'nconst': 'nm4460936'},
 {'character_id': 'ch_214', 'nconst': 'nm4595425'},
 {'character_id': 'ch_215', 'nconst': 'nm2489799'},
 {'character_id': 'ch_216', 'nconst': 'nm0815420'},
 {'character_id': 'ch_217', 'nconst': 'nm2812026'},
 {'character_id': 'ch_218', 'nconst': 'nm2197118'},
 {'character_id': 'ch_219', 'nconst': 'nm0634139'},
 {'character_id': 'ch_220', 'nconst': 'nm5652293'},
 {'character_id': 'ch_221', 'nconst': 'nm1743706'},
 {'character_id': 'ch_222', 'nconst': 'nm5652121'},
 {'character_id': 'ch_223', 'nconst': 'nm1743714'},
 {'character_id': 'ch_224', 'nconst': 'nm1743730'},
 {'character_id': 'ch_225', 'nconst': 'nm8158202'},
 {'character_id': 'ch_226', 'nconst': 'nm8158203'},
 {'character_id': 'ch_227', 'nconst': 'nm1944894'},
 {'character_id': 'ch_228', 'nconst': 'nm4430905'},
 {'character_id': 'ch_229', 'nconst': 'nm3745225'},
 {'character_id': 'ch_231', 'nconst': 'nm9132255'},
 {'character_id': 'ch_232', 'nconst': 'nm3226454'},
 {'character_id': 'ch_233', 'nconst': 'nm0642751'},
 {'character_id': 'ch_234', 'nconst': 'nm4475182'},
 {'character_id': 'ch_235', 'nconst': 'nm5792452'},
 {'character_id': 'ch_236', 'nconst': 'nm2228622'},
 {'character_id': 'ch_237', 'nconst': 'nm6706699'},
 {'character_id': 'ch_238', 'nconst': 'nm3561455'},
 {'character_id': 'ch_239', 'nconst': 'nm0371160'},
 {'character_id': 'ch_240', 'nconst': 'nm6316115'},
 {'character_id': 'ch_241', 'nconst': 'nm0283642'},
 {'character_id': 'ch_242', 'nconst': 'nm5697839'},
 {'character_id': 'ch_244', 'nconst': 'nm3725055'},
 {'character_id': 'ch_245', 'nconst': 'nm1095720'},
 {'character_id': 'ch_246', 'nconst': 'nm0050959'},
 {'character_id': 'ch_247', 'nconst': 'nm0424191'},
 {'character_id': 'ch_248', 'nconst': 'nm0610312'},
 {'character_id': 'ch_249', 'nconst': 'nm0001671'},
 {'character_id': 'ch_250', 'nconst': 'nm5282143'},
 {'character_id': 'ch_251', 'nconst': 'nm4831584'},
 {'character_id': 'ch_252', 'nconst': 'nm0188871'},
 {'character_id': 'ch_253', 'nconst': 'nm4789912'},
 {'character_id': 'ch_254', 'nconst': 'nm1164730'},
 {'character_id': 'ch_255', 'nconst': 'nm1987270'},
 {'character_id': 'ch_257', 'nconst': 'nm4422639'},
 {'character_id': 'ch_258', 'nconst': 'nm0318821'},
 {'character_id': 'ch_259', 'nconst': 'nm4535552'},
 {'character_id': 'ch_260', 'nconst': 'nm3464945'},
 {'character_id': 'ch_261', 'nconst': 'nm0863130'},
 {'character_id': 'ch_262', 'nconst': 'nm0360171'},
 {'character_id': 'ch_263', 'nconst': 'nm1086981'},
 {'character_id': 'ch_264', 'nconst': 'nm7047874'},
 {'character_id': 'ch_265', 'nconst': 'nm1409802'},
 {'character_id': 'ch_266', 'nconst': 'nm1502469'},
 {'character_id': 'ch_267', 'nconst': 'nm3671418'},
 {'character_id': 'ch_268', 'nconst': 'nm0504320'},
 {'character_id': 'ch_269', 'nconst': 'nm1175468'},
 {'character_id': 'ch_270', 'nconst': 'nm3701064'},
 {'character_id': 'ch_271', 'nconst': 'nm0269077'},
 {'character_id': 'ch_272', 'nconst': 'nm4430828'},
 {'character_id': 'ch_274', 'nconst': 'nm1745190'},
 {'character_id': 'ch_275', 'nconst': 'nm4164318'},
 {'character_id': 'ch_276', 'nconst': 'nm4927489'},
 {'character_id': 'ch_277', 'nconst': 'nm3822462'},
 {'character_id': 'ch_278', 'nconst': 'nm2167445'},
 {'character_id': 'ch_286', 'nconst': 'nm3280686'},
 {'character_id': 'ch_287', 'nconst': 'nm0534635'},
 {'character_id': 'ch_288', 'nconst': 'nm0004692'},
 {'character_id': 'ch_289', 'nconst': 'nm0570570'},
 {'character_id': 'ch_290', 'nconst': 'nm2996220'},
 {'character_id': 'ch_291', 'nconst': 'nm0231871'},
 {'character_id': 'ch_292', 'nconst': 'nm0568385'},
 {'character_id': 'ch_293', 'nconst': 'nm0065874'},
 {'character_id': 'ch_294', 'nconst': 'nm2657974'},
 {'character_id': 'ch_295', 'nconst': 'nm5093301'},
 {'character_id': 'ch_296', 'nconst': 'nm1414435'},
 {'character_id': 'ch_297', 'nconst': 'nm0565472'},
 {'character_id': 'ch_298', 'nconst': 'nm1748634'},
 {'character_id': 'ch_299', 'nconst': 'nm4263213'},
 {'character_id': 'ch_300', 'nconst': 'nm0564920'},
 {'character_id': 'ch_301', 'nconst': 'nm3849842'},
 {'character_id': 'ch_303', 'nconst': 'nm1378629'},
 {'character_id': 'ch_304', 'nconst': 'nm0114742'},
 {'character_id': 'ch_305', 'nconst': 'nm1103771'},
 {'character_id': 'ch_306', 'nconst': 'nm1821446'},
 {'character_id': 'ch_307', 'nconst': 'nm0352901'},
 {'character_id': 'ch_308', 'nconst': 'nm0126298'},
 {'character_id': 'ch_309', 'nconst': 'nm4757478'},
 {'character_id': 'ch_310', 'nconst': 'nm1402546'},
 {'character_id': 'ch_311', 'nconst': 'nm0428765'},
 {'character_id': 'ch_313', 'nconst': 'nm5081192'},
 {'character_id': 'ch_314', 'nconst': 'nm0432838'},
 {'character_id': 'ch_315', 'nconst': 'nm2746504'},
 {'character_id': 'ch_316', 'nconst': 'nm0087432'},
 {'character_id': 'ch_317', 'nconst': 'nm0226820'},
 {'character_id': 'ch_318', 'nconst': 'nm5792452'},
 {'character_id': 'ch_319', 'nconst': 'nm4335246'},
 {'character_id': 'ch_320', 'nconst': 'nm4492916'},
 {'character_id': 'ch_321', 'nconst': 'nm1423916'},
 {'character_id': 'ch_322', 'nconst': 'nm5981376'},
 {'character_id': 'ch_323', 'nconst': 'nm1652341'},
 {'character_id': 'ch_324', 'nconst': 'nm1794801'},
 {'character_id': 'ch_325', 'nconst': 'nm1651043'},
 {'character_id': 'ch_326', 'nconst': 'nm0464305'},
 {'character_id': 'ch_328', 'nconst': 'nm1115654'},
 {'character_id': 'ch_329', 'nconst': 'nm2772105'},
 {'character_id': 'ch_330', 'nconst': 'nm5039410'},
 {'character_id': 'ch_331', 'nconst': 'nm1146807'},
 {'character_id': 'ch_332', 'nconst': 'nm1212069'},
 {'character_id': 'ch_334', 'nconst': 'nm1677757'},
 {'character_id': 'ch_335', 'nconst': 'nm3849670'},
 {'character_id': 'ch_336', 'nconst': 'nm1395532'},
 {'character_id': 'ch_337', 'nconst': 'nm0654295'},
 {'character_id': 'ch_338', 'nconst': 'nm0534062'},
 {'character_id': 'ch_339', 'nconst': 'nm0443373'},
 {'character_id': 'ch_341', 'nconst': 'nm4385245'},
 {'character_id': 'ch_342', 'nconst': 'nm0928408'},
 {'character_id': 'ch_343', 'nconst': 'nm3727276'},
 {'character_id': 'ch_344', 'nconst': 'nm4475303'},
 {'character_id': 'ch_346', 'nconst': 'nm1970465'},
 {'character_id': 'ch_347', 'nconst': 'nm4514519'},
 {'character_id': 'ch_348', 'nconst': 'nm0309693'},
 {'character_id': 'ch_349', 'nconst': 'nm3065809'},
 {'character_id': 'ch_350', 'nconst': 'nm0227759'},
 {'character_id': 'ch_351', 'nconst': 'nm0001097'},
 {'character_id': 'ch_352', 'nconst': 'nm5159884'},
 {'character_id': 'ch_353', 'nconst': 'nm1788152'},
 {'character_id': 'ch_354', 'nconst': 'nm1378721'},
 {'character_id': 'ch_356', 'nconst': 'nm0516003'},
 {'character_id': 'ch_357', 'nconst': 'nm3531913'},
 {'character_id': 'ch_358', 'nconst': 'nm0103195'},
 {'character_id': 'ch_360', 'nconst': 'nm5390029'},
 {'character_id': 'ch_361', 'nconst': 'nm3209935'},
 {'character_id': 'ch_362', 'nconst': 'nm1460176'},
 {'character_id': 'ch_363', 'nconst': 'nm1613839'},
 {'character_id': 'ch_364', 'nconst': 'nm1368643'},
 {'character_id': 'ch_365', 'nconst': 'nm0516385'},
 {'character_id': 'ch_366', 'nconst': 'nm1872855'},
 {'character_id': 'ch_367', 'nconst': 'nm4422708'},
 {'character_id': 'ch_368', 'nconst': 'nm8199963'},
 {'character_id': 'ch_369', 'nconst': 'nm0916037'},
 {'character_id': 'ch_370', 'nconst': 'nm5624523'},
 {'character_id': 'ch_371', 'nconst': 'nm4416560'},
 {'character_id': 'ch_372', 'nconst': 'nm0523047'},
 {'character_id': 'ch_373', 'nconst': 'nm0214343'},
 {'character_id': 'ch_374', 'nconst': 'nm1613839'},
 {'character_id': 'ch_375', 'nconst': 'nm4744043'},
 {'character_id': 'ch_376', 'nconst': 'nm1996829'},
 {'character_id': 'ch_377', 'nconst': 'nm2247629'},
 {'character_id': 'ch_378', 'nconst': 'nm0162281'},
 {'character_id': 'ch_379', 'nconst': 'nm3310211'},
 {'character_id': 'ch_380', 'nconst': 'nm0889338'},
 {'character_id': 'ch_381', 'nconst': 'nm0535837'},
 {'character_id': 'ch_382', 'nconst': 'nm5502295'},
 {'character_id': 'ch_383', 'nconst': 'nm5309709'},
 {'character_id': 'ch_384', 'nconst': 'nm8108764'},
 {'character_id': 'ch_385', 'nconst': 'nm1519719'},
 {'character_id': 'ch_386', 'nconst': 'nm7075019'},
 {'character_id': 'ch_387', 'nconst': 'nm7509185'},
 {'character_id': 'ch_388', 'nconst': 'nm7509186'},
 {'character_id': 'ch_389', 'nconst': 'nm0503319'}]

In [109]:
# This is a simple function to create a a node for a character.
#
def insert_character(c):
    with GraphDatabase.driver(URI, auth=AUTH) as driver:
        # driver.verify_connectivity()
        
        summary = driver.execute_query(
            "CREATE (:Character:IMDB {characterName: $characterName, character_id: $character_id})",
            characterName=c['characterName'],
            character_id=c["character_id"]
        ).summary

        result = summary.counters.nodes_created

        if result != 1:
            print("Creating character ", c, "did something strange.")

        return result

In [110]:
# Insert a character
def insert_actor(a):
    with GraphDatabase.driver(URI, auth=AUTH) as driver:
        # driver.verify_connectivity()
        created_count = 0
        updated_count = 0
        # print(a)

        # Some of the actors are already in the database and their is a unique constraint onf
        # the name attribute. So, if the person exists, we simple add the nconst property.
        #
        
        records, summary, keys = driver.execute_query(
            "MATCH (p:Person) where p.name=$actorName RETURN p ",
            actorName=a['actorName']
        )
        if len(records) > 0:
            records, summary, keys = driver.execute_query(
                "MATCH (p:Person) where p.name=$actorName set p.nconst=$nconst",
                actorName=a['actorName'],
                nconst=a['nconst']
            )

            result = summary.counters.properties_set
            if result != 1:
                print("Updating an existing Person", a, "did something strange.")
                
            updated_count = result
        else:
            summary = driver.execute_query(
                "CREATE (:Person:IMDB {name: $actorName, nconst: $nconst})",
                actorName=a['actorName'],
                nconst=a['nconst']
            ).summary
            
            result = summary.counters.nodes_created

            if result != 1:
                print("Creating actor ", a, "did something strange.")

            created_count = result

        

        return (updated_count, created_count)

In [111]:
# Insert a link
def insert_link(l):
    with GraphDatabase.driver(URI, auth=AUTH) as driver:
        # driver.verify_connectivity()
        # print(l)
        summary= driver.execute_query(
            """
            MATCH (p:Person {nconst: $nconst}), (c:Character:IMDB {character_id: $character_id})
            create (c)-[:PLAYED_BY]->(p)
            """,
            character_id=l['character_id'],
            nconst=l['nconst']
            ).summary

        result = summary.counters.relationships_created

        if result != 1:
            print("Something weird happened creating relationship", l, ". Created relationships = ", result)

        return result


        # print("Query = ", summary.query)

In [112]:
characters_created = 0

for c in characters_to_insert:
    result = insert_character(c)
    characters_created += result
    if characters_created % 25 == 0:
        print("Created ", characters_created, "characters so far.")

print("Created", characters_created, "characters.")

Created  25 characters so far.
Created  50 characters so far.
Created  75 characters so far.
Created  100 characters so far.
Created  125 characters so far.
Created  150 characters so far.
Created  175 characters so far.
Created  200 characters so far.
Created  225 characters so far.
Created  250 characters so far.
Created  275 characters so far.
Created  300 characters so far.
Created  325 characters so far.
Created  350 characters so far.
Created  375 characters so far.
Created 389 characters.

In [113]:
len(characters_to_insert)

389

In [114]:
updated_count = 0
created_count = 0

for a in actors_to_insert:
    r = insert_actor(a)
    updated_count += r[0]
    created_count += r[1]

    if (updated_count + created_count) % 25 == 0:
        print("Created ", created_count, "Updated ", updated_count)

print("Final Created ", created_count, "Updated ", updated_count)

Created  25 Updated  0
Created  50 Updated  0
Created  75 Updated  0
Created  100 Updated  0
Created  125 Updated  0
Created  150 Updated  0
Created  175 Updated  0
Created  200 Updated  0
Created  225 Updated  0
Created  250 Updated  0
Created  275 Updated  0
Created  299 Updated  1
Created  324 Updated  1
Created  347 Updated  3
Final Created  351 Updated  3

In [115]:
len(actors_to_insert)

354

In [116]:
relationships_created = 0

for l in relationships_to_insert:
    result = insert_link(l)
    relationships_created += result

    if relationships_created % 25 == 0:
        print("Created", relationships_created, "relationships.")

print("Created", relationships_created, "relationships.")

Created 25 relationships.
Created 50 relationships.
Created 75 relationships.
Created 100 relationships.
Created 125 relationships.
Created 150 relationships.
Created 175 relationships.
Created 200 relationships.
Created 225 relationships.
Created 250 relationships.
Created 275 relationships.
Created 300 relationships.
Created 325 relationships.
Created 350 relationships.
Created 353 relationships.

In [117]:
len(relationships_to_insert)

353

## IMDB

The IMDB data is in a file in the project directory.

In [77]:
%ls $imdb_data_dir

 Volume in drive C is OS
 Volume Serial Number is 940C-3CFD

 Directory of C:\Users\natha\W4111-Project-Template\data\IMDB

12/06/2024  05:26 PM    <DIR>          .
12/06/2024  05:26 PM    <DIR>          ..
12/06/2024  05:26 PM            31,805 got_imdb_name_basics.csv
12/06/2024  05:26 PM         2,406,441 got_imdb_title_basics.csv
12/06/2024  05:26 PM         1,688,109 got_imdb_title_principals.csv
12/06/2024  05:26 PM           338,284 got_imdb_title_ratings.csv
               4 File(s)      4,464,639 bytes
               2 Dir(s)  804,063,076,352 bytes free

In [78]:
%sql drop database if exists f24_project

 * mysql+pymysql://root:***@localhost?local_infile=1
0 rows affected.

[]

In [79]:
%sql create database f24_project

 * mysql+pymysql://root:***@localhost?local_infile=1
1 rows affected.

[]

We are simply going to load the data for now. The data files do not have a header row identifying the
columns. So, we have to define the columns and not use the header inferring for the file read.

In [80]:
name_basics_df = pandas.read_csv(imdb_data_dir + '/got_imdb_name_basics.csv', 
                                  header=None)

In [81]:
name_basics_df.columns = ["nconst", "primaryName", "birthYear", "deathYear", 
                          "primaryProfession", "knownForTitles"]

In [82]:
name_basics_df.to_sql('name_basics', schema='f24_project',
                      con=default_engine, index=False, if_exists='append')

351

In [85]:
%sql use f24_project;

 * mysql+pymysql://root:***@localhost?local_infile=1
0 rows affected.

[]

In [86]:
%sql select * from name_basics limit 5;

 * mysql+pymysql://root:***@localhost?local_infile=1
5 rows affected.

[('nm0389698', 'B.J. Hogg', 1955.0, 2020.0, 'actor,music_department', 'tt0986233,tt1240982,tt0970411,tt0944947'),
 ('nm0269923', 'Michael Feast', 1946.0, None, 'actor,composer,soundtrack', 'tt0120879,tt0472160,tt0362192,tt0810823'),
 ('nm0727778', 'David Rintoul', 1948.0, None, 'actor,archive_footage', 'tt1139328,tt4786824,tt6079772,tt1007029'),
 ('nm6729880', 'Chuku Modu', 1990.0, None, 'actor,writer,producer', 'tt4154664,tt2674426,tt0944947,tt6470478'),
 ('nm0853583', 'Owen Teale', 1961.0, None, 'actor,writer,archive_footage', 'tt0102797,tt0944947,tt0485301,tt0462396')]

In [87]:
title_basics_df = pandas.read_csv(imdb_data_dir + '/got_imdb_title_basics.csv', header=None)

In [88]:
title_basics_df.columns = ["tconst", "titleType", "primaryTitle",
                          "originalTitle", "isAdult", "startYear", "endYear",
                          "runtimeMinutes", "genres"]

In [89]:
title_basics_df.to_sql('title_basics', schema='f24_project',
                      con=default_engine, index=False, if_exists='replace')

29058

In [90]:
title_principals_df = pandas.read_csv(imdb_data_dir + '/got_imdb_title_principals.csv', header=None)

In [91]:
title_principals_df.head(5)

           0          1  2      3    4                    5
0  nm0389698  tt0087286  5  actor  NaN        ["Big Billy"]
1  nm0389698  tt0101201  9  actor  NaN     ["Billy Murray"]
2  nm0389698  tt0120087  8  actor  NaN       ["Col. Reece"]
3  nm0389698  tt0122738  9  actor  NaN         ["Minister"]
4  nm0389698  tt0124972  7  actor  NaN  ["Mr.Ken Campbell"]

In [92]:
title_principals_df.columns = ["nconst", "tconst", "ordering", "category", "job", "characters"]

In [93]:
title_principals_df.to_sql('title_principals', schema='f24_project',
                      con=default_engine, index=False, if_exists='replace')

34193

In [94]:
title_ratings_df = pandas.read_csv(imdb_data_dir + '/got_imdb_title_ratings.csv')

In [95]:
title_ratings_df.columns= ['tconst', "averageRating", "noOfVotes"]

In [96]:
title_ratings_df.to_sql('title_ratings', schema='f24_project',
                      con=default_engine, index=False, if_exists='replace')

17798

In [97]:
%sql use f24_project

 * mysql+pymysql://root:***@localhost?local_infile=1
0 rows affected.

[]

In [98]:
%sql select * from name_basics limit 5;

 * mysql+pymysql://root:***@localhost?local_infile=1
5 rows affected.

[('nm0389698', 'B.J. Hogg', 1955.0, 2020.0, 'actor,music_department', 'tt0986233,tt1240982,tt0970411,tt0944947'),
 ('nm0269923', 'Michael Feast', 1946.0, None, 'actor,composer,soundtrack', 'tt0120879,tt0472160,tt0362192,tt0810823'),
 ('nm0727778', 'David Rintoul', 1948.0, None, 'actor,archive_footage', 'tt1139328,tt4786824,tt6079772,tt1007029'),
 ('nm6729880', 'Chuku Modu', 1990.0, None, 'actor,writer,producer', 'tt4154664,tt2674426,tt0944947,tt6470478'),
 ('nm0853583', 'Owen Teale', 1961.0, None, 'actor,writer,archive_footage', 'tt0102797,tt0944947,tt0485301,tt0462396')]

In [99]:
%sql select * from title_basics limit 5

 * mysql+pymysql://root:***@localhost?local_infile=1
5 rows affected.

[('tt0054518', 'tvSeries', 'The Avengers', 'The Avengers', 0, 1961.0, 1969.0, 50.0, 'Action,Comedy,Crime'),
 ('tt0054571', 'tvSeries', 'Three Live Wires', 'Three Live Wires', 0, 1961.0, None, 30.0, 'Comedy'),
 ('tt0055556', 'movie', 'Two Living, One Dead', 'Two Living, One Dead', 0, 1961.0, None, 105.0, 'Crime,Drama,Thriller'),
 ('tt0056105', 'movie', "The Swingin' Maiden", 'The Iron Maiden', 0, 1962.0, None, 98.0, 'Comedy,Romance'),
 ('tt0056696', 'movie', 'Young and Willing', 'The Wild and the Willing', 0, 1962.0, None, 110.0, 'Drama,Romance')]

In [100]:
%sql select * from title_principals limit 5

 * mysql+pymysql://root:***@localhost?local_infile=1
5 rows affected.

[('nm0389698', 'tt0087286', 5, 'actor', None, '["Big Billy"]'),
 ('nm0389698', 'tt0101201', 9, 'actor', None, '["Billy Murray"]'),
 ('nm0389698', 'tt0120087', 8, 'actor', None, '["Col. Reece"]'),
 ('nm0389698', 'tt0122738', 9, 'actor', None, '["Minister"]'),
 ('nm0389698', 'tt0124972', 7, 'actor', None, '["Mr.Ken Campbell"]')]

In [101]:
%sql select * from title_ratings limit 5

 * mysql+pymysql://root:***@localhost?local_infile=1
5 rows affected.

[('tt0055556', 7.3, 81),
 ('tt0056105', 6.4, 587),
 ('tt0056696', 5.9, 185),
 ('tt0057435', 6.2, 486),
 ('tt0058142', 6.9, 1535)]